/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/ruff.xml
/.idea/tma.iml
/.idea/vcs.xml


terraform.tfvars
*.env
.terraform/
*.tfstate
*.tfstate.*
