/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/ruff.xml
/.idea/tma.iml
/.idea/vcs.xml


terraform.tfvars
*.env
.terraform/
*.tfstate
*.tfstate.*
/.idea/git_toolbox_blame.xml
/.idea/terraform.xml
frontend/playwright-report/
frontend/test-results/
frontend/blob-report/
/backend/benchmark/output/
