services:
  fastapi-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${APP_PORT:-8000}:8000"
    environment:
      SECRET_KEY: ${SECRET_KEY:-}
      OPENAI_API_KEY: ${OPENAI_API_KEY:?required}
      OPENAI_BASE_URL: ${OPENAI_BASE_URL:-https://api.openai.com/v1}
      OPENAI_MODEL: ${OPENAI_MODEL:-gpt-5-nano}
      AZURE_DIP_API_KEY: ${AZURE_DIP_API_KEY:?required}
      AZURE_DIP_BASE_URL: ${AZURE_DIP_BASE_URL:?required}
      BACKEND_CORS_ORIGINS: ${BACKEND_CORS_ORIGINS:-[]}
      BACKEND_CORS_ORIGINS_REGEX: ${BACKEND_CORS_ORIGINS_REGEX:-}
      GOOGLE_IMG_SEARCH_URL: ${GOOGLE_IMG_SEARCH_URL:-https://www.googleapis.com/customsearch/v1}
      GOOGLE_IMG_SEARCH_CX: ${GOOGLE_IMG_SEARCH_CX:?required}
      GOOGLE_IMG_SEARCH_KEY: ${GOOGLE_IMG_SEARCH_KEY:?required}
      SUPABASE_URL: ${SUPABASE_URL:?required}
      SUPABASE_KEY: ${SUPABASE_KEY:?required}
      FATSECRET_TOKEN_URL: ${FATSECRET_TOKEN_URL:?required}
      FATSECRET_CLIENT_ID: ${FATSECRET_CLIENT_ID:?required}
      FATSECRET_CLIENT_SECRET: ${FATSECRET_CLIENT_SECRET:?required}
      FATSECRET_BASE_URL: ${FATSECRET_BASE_URL:?required}
    restart: unless-stopped
