version: '1.1'

services:
  fastapi-app:
#    build:
#      context: .
#      dockerfile: Dockerfile
    image: tmmanson/tma-backend:latest

    container_name: tma_backend_container
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .env:/code/.env
#      - ./src:/code/src
    restart: always
