name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - f/add-gitleaks
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-and-push:
    name: deploy 
    needs: scan 
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: docker login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t tmmanson/tma-backend:latest ./backend/.
        docker push tmmanson/tma-backend:latest

    - name: Trigger webhook
      run: |
        curl -X POST https://pipeline.itsya0wen.com/v1/update \
          -H "Authorization:Bearer ${{ secrets.HEADER_KEY }}" \
